* {
  outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bannerbox {
  margin-top: 16px;
  width: 100%;
  overflow: hidden;
  .banner {
    text-align: center;
    .wrap {
      text-align: center;
      width: 100%;
      display: inline-block;
      position: relative;
      .imgbox {
        display: inline-block; //  bottom: 300px; //banner向上
        text-align: center;
        width: 1200px;
        height: 380px;
        position: relative;
        transition: all 3s !important;
        img {
          width: 100%;
        }
        .btn {
          position: absolute;
          right: 0;
          background-color: black;
          opacity: .4;
          color: white;
          padding: 3px;
          bottom: 0;
          display: none;
        }
      }
    }
  }
}
